@model Ogrenci

<form asp-action="Create" method="post">

    <input asp-for="Ad" />
    <input asp-for="Soyad" />
    <input asp-for="Yas" />

    <button type="submit" class="btn btn-primary">Kaydet</button>

</form>